body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    padding: 17px;
    background-color: #eae6e5;
    color: #04080f;
}

h1 {
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: normal;
    margin-top: 32px;
    margin-bottom: 16px;
}

h2, h3 {
    margin-top: 32px;
    margin-bottom: 16px;
}

p, ul {
    margin-bottom: 16px;
}

main {
    max-width: 900px;
    margin: 0 auto;
}

header {
    background-color: #04080f;
    color: #f7f5f4; 
}

footer {
    background-color: #4a4d57; 
    color: #ffffff; 
}

footer a {
    display: block;
    margin-bottom: 8px;
    color: #DDFFF7; 
}

footer a:hover {
    color: #FFF;
}
/* Header links */
header a {
    color: #65AFFF;
}
header a:hover {
    color: #FAFAFF;
}

/* Body links */
body a {
    color: #17bebb;
}
body a:hover {
    color: #235789;
}


header, footer {
    padding: 32px;
}
