    <footer>
      <a href="/index.html">Home</a>
      <a href="https://github.com/Amir-Janid-Homsi">GitHub Profile</a>
      <a href="https://webpages.charlotte.edu/ahomsi/">CLT Web</a>
      <a href="https://Amir-Janid-Homsi.github.io/">GitHub.io(home)</a>
      <a href="https://itis3135-react-one-theta.vercel.app/" target="_blank"> ITIS3135@Vercel</a>
      <a href="https://www.linkedin.com/in/amir-homsi-8b2623341/">LinkedIn</a>
      <p><a href="mirroreddesigns.sh/mirroreddesigns.html">&copy; 2026 AMirrored Designs</a><a href="https://www.freecodecamp.org/certification/ahomsi/responsive-web-design-v9">, certified in Responsive Web Design</a> </p>
    </footer>
