body {
    font-family: "Source Sans 3", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    padding: 16px;
    background-color: #fffffa;
    color: #2e2f33; /* darker gray for contrast */
}

h1 {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    margin-top: 32px;
    margin-bottom: 16px;
}

h2, h3 {
    margin-top: 32px;
    margin-bottom: 16px;
}

p, ul {
    margin-bottom: 16px;
}

main {
    max-width: 900px;
    margin: 0 auto;
}

header {
    background-color: #092327;
    color: #e6f4ff; /* slightly darker than #ddf0ff */
}

footer {
    background-color: #092327;
    color: #d9e6f2; /* softer white for contrast */
}

footer a {
    display: block;
    margin-bottom: 8px;
    color: #b3dbff; /* accessible link color */
}

a {
    color: #b3001b; /* darker red for contrast */
}

a:hover {
    color: #66000f;
}

header, footer {
    padding: 32px;
}
